<h1>My tasks</h1>
<ol>
	<% @tasks.each do |task|%>
	<li>
		<%= task.completed ? 'â˜‘ï¸' : 'â¬œï¸' %> -  
		<%= link_to task.title, task_path(task) %>
		<%= link_to 'ðŸ—‘', task_path(task), method: :delete, data: {confirm: 'are you sure?'} %>
	</li>
	<% end -%>
</ol>

<%= link_to 'âž• Add new task', tasks_new_path %>
